{% extends 'base.html' %}
{% load static %}
{% block content %}
<!-- Header -->
<header id="header" class="header">
    <div class="container">
        <div class="row">
            <div class="col-lg-6">
                <div class="text-container">
                    <h1 class="h1-large">Ini Pinjam</h1>
                    {% if user.is_authenticated %} <h1 class="h1-large">Halo {{ name }}</h1> {% endif %}
                    <a class="btn-solid-lg page-scroll" href="#about">Discover</a>
                </div> 
            </div> 
        </div> 
    </div> 
</header> 

</br>
<div class="container">
    <h1 style="text-align: center;"> Ini isi Keranjang Kamu</h1>
    <table id ="cart">
    </table>
</div>
<div class="search-container">
    <form id="searchForm" onsubmit="searchProducts(event)">
        <input type="text" id="searchInput" placeholder="Search...">
        <label class="text-search"><input type="checkbox" id="searchTitle" > Title</label>
        <label class="text-search"><input type="checkbox" id="searchAuthor" > Author</label>
        <label class="text-search"><input type="checkbox" id="searchNumPages" > Max Pages</label>
        <button class="button-search" type="submit">Search</button>
    </form>
</div>
</br>
<div class="row pembatas" id="product_cards"></div>
</br>
<h1 style="text-align: center; color: rgb(223, 211, 211)">Buku ini telah dipinjam</h1>
<div class="row pembatas" id="product_cards_borrowed"></div>



<link rel="stylesheet" href="{% static 'css/borrow.css' %}" />
<script cache="reload" rel="preload" src="{% static 'js/renderBookBorrowSection.js' %}"></script>
<script src="{% static 'js/searchBar.js' %}"></script>

{% endblock content %}