{% extends 'base.html' %}
{% load static %}
{% block content %}
<!-- Header -->
<header id="header" class="header">
    <div class="container">
        <div class="row">
            <div class="col-lg-6">
                <div class="text-container">
                    {% if user.is_authenticated %} <h1 class="h1-large">Halo {{ name }}</h1> {% endif %}
                    <h1 class="h1-large">Lihat ulasan buku dari user lain</h1>
                    <a class="btn-solid-lg page-scroll" href="/about-us/">Discover</a>
                </div> 
            </div> 
        </div> 
    </div> 
</header> 




</br>



</br>
<h1 style="text-align: center; color: rgb(223, 211, 211)">Buku yang telah Diulas</h1>

<div class="search-container">
    <form id="searchForm" onsubmit="searchProducts(event)">
        <input class="search-bar" type="text" id="searchInput" placeholder="Search for reviewed books">
        <select id="sort-select" class="sort-select">
            <option value="newest">Newest</option>
            <option value="oldest">Oldest</option>
        </select>
        <button class="button-search" type="submit">Search</button>
    </form>
</div>

<div class="row pembatas">
    <div class="review_card" id="reviewCard"></div>
</div>



<link rel="stylesheet" href="{% static 'css/review_return.css' %}" />
<script src="{% static 'js/renderReview.js' %}"></script>


{% endblock content %}