{% extends 'base.html' %}
{% load static %}
{% block content %}
<!-- Header -->
<header id="header" class="header">
    <div class="container">
        <div class="row">
            <div class="col-lg-6">
                <div class="text-container">
                    {% if user.is_authenticated %} <h1 class="h1-large">Halo {{ name }}</h1> {% endif %}
                    <h1 class="h1-large">Apakah sudah siap membalikan buku?</h1>
                    <a class="btn-solid-lg page-scroll" href="/about-us/">Discover</a>
                </div> 
            </div> 
        </div> 
    </div> 
</header> 




</br>


</br>
<h1 style="text-align: center; color: rgb(223, 211, 211)">Buku yang anda pinjam</h1>
<div class="row pembatas" id="product_cards_borrowed"></div>



<link rel="stylesheet" href="{% static 'css/review_return.css' %}" />
<script src="{% static 'js/renderBorrowed.js' %}"></script>


{% endblock content %}