{% extends 'base.html' %}

{% load static %}

{% block meta %}
<link rel="stylesheet" href="{% static 'css/favorite.css' %}" />
<script src="{% static 'js/searchBar.js' %}"></script>
<script cache="reload" rel="preload" src="{% static 'js/favorite.js' %}"></script>
{% endblock meta %}

{% block content %}
<!-- Header -->
<header id="header" class="header">
    <div class="container">
        <div class="row">
            <div class="col-lg-6">
                <div class="text-container">
                    <h1 class="h1-large">Ini favorit</h1>
                    {% if user.is_authenticated %} <h1 class="h1-large">Halo {{ username }}</h1> {% endif %}
                    <a class="btn-solid-lg page-scroll" href="#about">Discover</a>
                </div> 
            </div> 
        </div> 
    </div> 
</header> 
<!-- background-color: #003300;
background-color: #F0EBE3 -->
<br>

<div class="search-container">
    <form id="searchForm" onsubmit="searchProducts(event)">
        <input type="text" id="searchInput" placeholder="Search...">
        <label class="text-search"><input type="checkbox" id="searchTitle" > Title</label>
        <label class="text-search"><input type="checkbox" id="searchAuthor" > Author</label>
        <label class="text-search"><input type="checkbox" id="searchNumPages" >Max Pages</label>
        <button class="button-search" type="submit">Search</button>
    </form>
</div>

<br>
<div class="row pembatas" id="product_cards"></div>
<br>
{% endblock content %}